{% extends "contapp/base.html" %}
{% block content %}
<div class="content-section">
    <form method="POST">
        {% csrf_token %}
        <fieldset class="form-group">
            <legend class="border-bottom mb-4">Total Palabras</legend>
            
            {{ object.url }}
            {% for key, val in palabras.items %}
                <li>{{key}}: {{val}}</li>
            {% endfor %}
        </fieldset>
        <div class="form-group">
            <button class="btn btn-outline-info" type="submit">Contar Palabras</button>
        </div>
    </form>
</div>
{% endblock content %}